@import 'tailwindcss';

@theme {
    --color-gold: #C3A576;

    --color-background-black: #141414;
    --color-gray: #2D2D2D;

    --color-white: #F6F6F6;
    --color-cream: #F3EEE6;
    --color-beige: #DFD3C0;

    --color-red: #AE1C1C;
    --color-maple: #5A2323;
    
    --font-serif: "Cormorant Garamond", serif;
    --font-sans: "Open Sans", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
    padding: 10px;
    margin: 0 auto;
    max-width: 1024px;
}

@layer {
    body{
        @apply bg-cream dark:bg-background-black font-serif;
    }

    #root{
        @apply container min-h-screen;
    }
}