@import 'tailwindcss';

@theme {
    --color-gold: #C3A576;

    --color-black: #111111;
    --color-background-black: #141414;
    --color-gray: #202020;
    --color-light-gray: #404040;

    --color-white: #F6F6F6;
    --color-cream: #F3EEE6;
    --color-beige: #DFD3C0;

    --color-red: #AE1C1C;
    --color-maple: #5A2323;

    --color-shadow: rgba(0, 0, 0, 0.2);
    
    --font-serif: "Cormorant Garamond", serif;
    --font-sans: "Open Sans", sans-serif;

    /* animations */
    --animate-showDown: show-down 0.3s forwards;
}

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
    margin: 0 auto;
    max-width: 1024px;
}

/* keyframes */
@keyframes show-down {
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@layer {
    body{
        @apply bg-white dark:bg-black font-serif;
    }

    #root{
        @apply container min-h-screen bg-cream dark:bg-background-black;
    }

    .shadow{
        box-shadow: -1px 1px 2px var(--color-shadow);
    }

    /* styles js */
    input:checked + [data-mode]{
        transform: translate(67px);
    }

    [data-button-menu]:hover > [data-sub-menu]{
        @apply flex animate-showDown;
    }

    [data-sub-menu]{
        @apply hidden;
    }

    [data-sub-menu].active {
        @apply flex animate-showDown;
    }

    .left-valueLogo{
        @apply -left-full;
    }

    .left-valueLinks{
        @apply -left-1/2;
    }
}