@import 'tailwindcss';

@theme {
    --color-gold: #C3A576;

    --color-black: #141414;
    --color-gray: #202020;
    --color-light-gray: #404040;

    --color-white: #F6F6F6;
    --color-cream: #F3EEE6;
    --color-beige: #DFD3C0;

    --color-red: #AE1C1C;
    --color-maple: #5A2323;

    --color-shadow: rgba(0, 0, 0, 0.2);
    --color-shadow-background: rgba(0, 0, 0, 0.4);

    --color-blue-dark: #143F74;
    --color-blue-light: #83B5EA;
    
    --font-serif: "Cormorant Garamond", serif;
    --font-sans: "Open Sans", sans-serif;

    /* animations */
    --animate-showDown: show-down 0.3s forwards;
    --animate-showTop: show-top 0.3s forwards;
    --animate-showLeft: show-left 0.3s forwards;
    --animate-showRight: show-right 0.3s forwards;
    --animate-showDownDiagonal: show-downDiagonal 0.3s forwards;

    --animate-loadingButton: loading-button 0.8s infinite;
}

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
    margin: 0 auto;
    max-width: 1024px;
}

/* keyframes */
@keyframes show-down {
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes show-top {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes show-left {
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes show-right {
    0%{
        opacity: 0;
        transform: translateX(30px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes show-downDiagonal {
        0%{
        opacity: 0;
        transform: translate(30px, 30px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes loading-button {
    50%{
        opacity: 0.7;
    }
}

@layer {
    body{
        @apply bg-white dark:bg-black font-serif overflow-x-hidden scroll-smooth;
    }

    #root{
        @apply container min-h-screen bg-cream dark:bg-black;
    }

    .shadow{
        box-shadow: -1px 1px 2px var(--color-shadow);
    }

    /* styles js */
    input:checked + [data-mode]{
        transform: translate(67px);
    }

    div.activeMenu > div:nth-of-type(1){
        @apply rotate-45 translate-y-3;
    }

    div.activeMenu > div:nth-of-type(2){
        @apply opacity-0;
    }

    div.activeMenu > div:nth-of-type(3){
        @apply -rotate-45 -translate-y-[19px];
    }

    [data-button-menu]:hover > [data-sub-menu]{
        @apply flex animate-showDown;
    }

    [data-sub-menu]{
        @apply hidden;
    }

    [data-sub-menu].active {
        @apply flex animate-showDown;
    }

    .transform-valueLogo{
        @apply -left-[80%] top-[110%];
    }

    .transform-valueLinks{
        @apply left-[56px] top-[75%];
    }

    .input-item:focus + .input-focusText{
        transform: translate(-18px, -45px);
        @apply text-gray dark:text-beige;
        transition: all 0.3s ease-out;
    }

    .input-hasValue{
        transform: translate(-15px, -45px);
        @apply text-gray dark:text-beige;
    }

    .loadingButton{
        @apply animate-loadingButton;
    }

    .button-ia > p{
        @apply inline-block;
    }

    .button-ia > span{
        @apply animate-bounce inline-block w-1 h-1 rounded-full bg-white;
        margin-left: 0.4rem;
    }
    
    .button-ia > span:nth-of-type(2){
        @apply animate-bounce;
        animation-delay: 0.3s;
    }
    
    .button-ia > span:nth-of-type(3){
        @apply animate-bounce;
        animation-delay: 0.6s;
    }

    .activeSectionButton{
        @apply bg-gold;
    }

    /* style to ia generation */
    .content-responseIA h1,
    .content-responseIA h2,
    .content-responseIA h3,
    .content-responseIA h4,
    .content-responseIA h5,
    .content-responseIA h6{
        @apply text-maple dark:text-gold my-5;
    }

    .content-responseIA h1,
    .content-responseIA h2,
    .content-responseIA h1 > strong,
    .content-responseIA h2 > strong{
        @apply text-3xl font-bold;
    }

    .content-responseIA h3,
    .content-responseIA h4,
    .content-responseIA h3 > strong,
    .content-responseIA h4 > strong,
    .content-responseIA caption{
        @apply text-2xl font-bold;
    }

    .content-responseIA h5,
    .content-responseIA h6,
    .content-responseIA th,
    .content-responseIA h5 > strong,
    .content-responseIA h6 > strong{
        @apply text-xl font-semibold;
    }

    .content-responseIA p,
    .content-responseIA span,
    .content-responseIA li,
    .content-responseIA tr,
    .content-responseIA td{
        @apply mt-2 font-sans font-normal text-lg text-gray dark:text-cream;
    }

    .content-responseIA tr > strong,
    .content-responseIA td > strong{
        @apply font-sans font-semibold text-lg text-gray dark:text-cream;
    }

    .content-responseIA b,
    .content-responseIA strong{
        @apply text-[20px] font-semibold;
    }

    .content-responseIA a{
        @apply text-blue-dark dark:text-blue-light font-sans font-medium 
        text-lg underline underline-offset-4 cursor-pointer;
    }

    .content-responseIA ul{
        @apply list-disc list-inside ml-6 my-3;
    }

    .content-responseIA ol{
        list-style-type: upper-roman;
        @apply list-inside ml-6;
    }

    .content-responseIA hr{
        @apply my-3;
    }

    .content-responseIA .table-responsive{
        @apply pb-3 overflow-x-auto;
    }

    .content-responseIA table{
        @apply border-collapse;
    }

    .content-responseIA tr,
    .content-responseIA td,
    .content-responseIA th{
        @apply border border-gray p-3 !text-center;
    }

    .content-responseIA tr:nth-child(even){
        @apply bg-cream;
    }

    /* scroll style */
    .scroll::-webkit-scrollbar{
        @apply w-2;
    }

    .scroll::-webkit-scrollbar-track{
        @apply bg-transparent;
    }

    .scroll::-webkit-scrollbar-thumb{
        @apply bg-white dark:bg-cream rounded-lg;
    }
}